body{
    min-width: 1440px;
}

header{
    background-color: #F5F5F5 ;
    width: 1440px;
    height: 134px;
}



li{
    list-style-type: none;
}

.container-nav{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}

.nav-list{
    display: flex;
    width: 50%;
    padding-right: 0px;
    
}

.nav-logo{
    display: flex;
    width: 50%;
    padding: 30px;
    
}

.nav-item{
    display: flex;
    padding: 30px;
    
}
